@import '~ngx-toastr/toastr';
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
mat-toolbar{
 background-color:black;
  }
button{
  color: aliceblue;

}
mat-icon{
  color: aliceblue;
}