<div class="app-container">
  <br> 
  <div class="row justify-content-center">
    <div class="col-md-9">
 <h1 style="text-align: center;">Click Below to View A Quick demonstration of Our Features</h1>   
  <br>  
  <br> 
  <div class="container"style="text-align: center;">
    <div class="card">
      <div class="content">
       <img src="../../assets/icon/liveicon.png"/> &nbsp;&nbsp;
      
        <h2>Cross Browser Testing</h2>
        <br>
        <h4>Interactive, Manual, Paralel Testing.</h4>
        <br>
        <button type="button" class="btn btn-info" (click)="ToliveTest()">CBT Test</button>
       
    </div>
    </div>
    <div class="card">
      <div class="featuresItem">
        <div class="content">
          <span><img src="../../assets/icon//vusialIconn.png"/></span>
           
          <h2>Visual Testing</h2>
         <br>
        <h4>Automated Screenshots & Comparisons.</h4>
        <br>
        <button type="button" class="btn btn-info" (click)="Onsubmit()">Visual Test</button>
        
      </div>
      </div>
      </div>
      <div class="card">
        <div class="featuresItem">
          <div class="content">
            <span><img src="../../assets/icon/automatedicon.png"/></span>
             
        <h2>Automated Testing</h2>
        <br>
        <h4>Selenium Test Automation.</h4>
        <br>
        <button type="button" class="btn btn-info" (click)="automaticTest()">Automated Test</button>
           </div>
        </div>
         
        </div>
    </div>
    <br><br><br>
    <div class="container">
      <section class="liveTestSection">
        <div class="row">
          <div class="col-xl-5">
        <span>
          <img src="../../assets/icon/liveicon.png" width="30%" height="30%"/>
        </span>
        <br><br>
      <span>
        <h3 style="color: blue;">Live Testing & Local Testing</h3>
        <h4>
        <p>
          Unit test your web pages by automating the browser via Selenium.<br>
          Create new scripts or use your existing test code against our remote browsers.
        </p></h4>
      </span>
    </div>
    <div class="col-xl-7">
      <div class="imgbx">
        <img src="../../assets/icon/live.png" width="120%" height="120%"/>
      </div>
    </div>
    </div>
      </section>
      <br><br><br>
      <section class="visualTestSection">
      <div class="row">
        <div class="col-xl-5">
      <span>
        <img src="../../assets/icon/vusialIconn.png" width="30%" height="27%"/>
      </span>
      <br><br>
    <span>
      <h3 style="color: blueviolet ;">Visual Testing & Screenshot Testing</h3>
      <h4>
        <p>Automatically take screenshots of a url across multiple browsers &amp; operating systems.<br>
           Great for quickly testing the layout of a page across many browsers.</p></h4>
    </span>
  </div>
  <div class="col-xl-7">
    <div class="imgbx">
      <img src="../../assets/icon/visual.png" width="120%" height="120%"/>
    </div>
  </div>
  </div>
    </section>
    <br><br><br>
    <section class="auTestSection">
    <div class="row">
      <div class="col-xl-5">
    <span>
      <img src="../../assets/icon/automatedicon.png" width="30%" height="27%"/>
    </span>
    <br><br>
  <span>
    <h3 style="color: darkolivegreen ;">Automated Testing & Selenium Testing</h3>
    <h4>
      <p>Unit test your web pages by automating the browser via Selenium.<br>
        Create new scripts or use your existing test code against our remote browsers.</p></h4>
  </span>
</div>
<div class="col-xl-7">
  <div class="imgbx">
    <img src="../../assets/icon/au.png" width="130%" height="120%"/>
  </div>
</div>
</div>
  </section>
    </div>
 <div>
  <img src="../../assets/icon/liveexempl.png" width="90%" height="70%"/>
 </div>   
 
</div>  
  </div>
</div>
<br><br> <br><br>